/*
	Lissone (MB) Italy
	Sat Nov 30 21:48:03 CET 2013
	Copyright 2013, 2014, 2015, 2016, 2017, 2018 Isidoro Ghezzi
	isidoro.ghezzi@icloud.it
*/

body{
	background: white;
	margin: 0;
	padding: 0;
	font-size_: smaller;
	font-family: monospace
}
h1, h2, h3{
	color: black;
	text-align: left;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

td{
	padding-left:0.5em;
	padding-right:0.5em;
}

.container{
	margin: 0.25em;
	padding: 0;
	background: white;
	color: black;
	text-align: left;
}

.date{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.normal{
	color: black;
	background: white;
}

.busy{
	color: black;
	background: lightgray;
}

.ig_button{
	margin: 0.5em;
	border-radius:8px;
	border: 2px solid black;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
	width: 10em;
}

.markets ol li ul, ol li ul li{
	margin-left: 0;
	padding-left: 0;
}

.value{
	padding-left: 1em;
}

.result{
	font-family: monospace;
	white-space: pre;
	font-weight: bold;
}

.wrap-result{
	margin: 1em;
}
.input_text{
	text-align: right;
	margin: 1em;
}

.footer{
	margin-left: -1em;
	margin-right: -1em;
	background: lightgray;
}

.footer div{
	padding: 0.25em;
}

.bitcoin{
	font-size: smaller;
	color: gray;
}

.json{
	text-align: left;
	font-family: monospace;
}

pre{
	text-align:left;
}
.preformatted {
    font-family: monospace;
    white-space: pre;
    text-align: left;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.crono{
	margin: 1em;
}

th{
	text-align:center;
	text-transform: uppercase;
}

table{
	border: 1px solid gray;
}
.background-darkgray{
	background: #cccccc;
}

.background-gray{
	background: #dddddd;
}

.background-lightgray{
	background: #eeeeee;
}